CHECKOUT_LINK=https://pay.kiwify.com.br/npNOSXo
WHATSAPP_GROUP_LINK=https://chat.whatsapp.com/C3qfBzfllShAVYU91k4SVo
SALES_WHATSAPP_NUMBER=5583996314804
LEAD_WEBHOOK_URL=
DATABASE_URL=
NEXT_PUBLIC_META_PIXEL_ID=3180760395579188
NEXT_PUBLIC_GA_ID=